.a{
    font-size: 25px;
    text-align: center;
    width: 23%;
    height: 30px;
    position: absolute;
    top: 13%;
    left: 40%;
}

.b{
    position: absolute;
    top: 32%;
    left: 40%;
    border: 1px solid #d1d5da;
    width: 23%;
    height: 220px;
    background-color: #d1d5da;
    font-size: 18px;
    border-radius: 15px;
}
.c{
    position: absolute;
    top: 72%;
    left: 40%;

    border: 1px solid #d1d5da ;
    width: 23%;
    height: 48px;
    text-align: center;
}
i{
    font-size: 50px;
}
.d{
    width: 23%;
    height: 30px;
    position: absolute;
    top: 84%;
    left: 40%;
    display: flex;
    justify-content: space-between;

}
#e{
    width: 93%;
    height: 25px;
    border:1px solid #d1d5da;
    margin-left: 3%;
    border-radius: 10px;
}
.button{
    background-color: rgb(129, 221, 129);
    text-align: center;
    padding: 8px  128px;
    color: white;
    position: absolute;
    margin-top: 17px;
    margin-left: 2%;
    border-radius: 10px;
    border: green;
    
}
.button:hover{
    background-color: green;
}
label{
    padding: 2%;
}